/* Page Styling */

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F5F1E8;
    color: #25344A;
}

/* Header */

header {
    background-color: #4E6E58;
    color: white;

    display: flex;
    align-items: center;
    gap: 30px;

    padding: 25px 50px;
}

.logo {
    width: 180px;
    height: auto;
}

header h1 {
    margin: 0;
    font-size: 2.8rem;
    letter-spacing: 2px;
}

/* Navigation */

nav {
    background-color: #25344A;

    display: flex;
    justify-content: center;
    gap: 40px;

    padding: 18px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
}

nav a:hover {
    color: #A8BBA3;
}

/* Main Layout */

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;

    padding: 25px;
}

/* Sections */

section {
    background-color: white;

    padding: 25px;

    border-radius: 12px;

    box-shadow: 0 3px 10px rgba(0, 0, 0, .15);

    transition: transform .3s ease;
}

section:hover {
    transform: translateY(-5px);
}

section h2 {
    color: #25344A;

    border-bottom: 3px solid #A8BBA3;

    padding-bottom: 10px;

    margin-top: 0;
    margin-bottom: 20px;
}

/* Images */

.profile {
    width: 100%;
    max-width: 300px;

    display: block;

    margin: 0 auto 20px;

    border-radius: 10px;
}

/* Lists */

ul {
    padding-left: 25px;
}

/* Tables */

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #5B7FA3;
    color: white;
}

th,
td {
    border: 1px solid #ccc;
    padding: 12px;
    text-align: left;
}

/* Form */

form {
    display: grid;
    gap: 12px;
}

input,
textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    min-height: 100px;
}

button {
    background-color: #4E6E58;
    color: white;

    border: none;

    padding: 12px;

    border-radius: 5px;

    cursor: pointer;
}

button:hover {
    background-color: #25344A;
}

/* Footer */

footer {
    background-color: #25344A;
    color: white;

    text-align: center;

    padding: 20px;

    margin-top: 20px;
}



@media screen and (max-width: 800px) {

    header {
        flex-direction: column;
        text-align: center;
    }

    main {
        grid-template-columns: 1fr;
    }

    .logo {
        width: 140px;
    }

    header h1 {
        font-size: 2rem;
    }
}